@font-face {
  font-family: Tajawal;
  src: url(../fonts/Tajawal/Tajawal-Regular.ttf);
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Tajawal', sans-serif !important;
  background-color: #ffffff !important;
  font-size: 20pt !important;
}

body a {
  text-decoration: none;
}

body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about-us .title, .services .title, .why-choose-us .title, .our-clients .title {
  position: relative;
  color: #0066af;
  font-weight: bold;
  font-size: 24pt;
  text-align: center;
  margin-bottom: 70px;
}

.about-us .title::after, .services .title::after, .why-choose-us .title::after, .our-clients .title::after {
  position: absolute;
  top: 50px;
  right: 50%;
  margin-right: -40px;
  content: "";
  width: 80px;
  height: 4px;
  background-color: #c51c22;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.header #slider .button .btn, .why-choose-us .btn, .footer .custom-items .item .form-groub .btn {
  margin-top: 50px;
  margin-bottom: 300px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0009), to(#c51c22));
  background-image: linear-gradient(#ff0009, #c51c22);
  width: 400px;
  padding: 10px 8px;
  font-size: 16pt;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.header #slider .button .btn:hover, .why-choose-us .btn:hover, .footer .custom-items .item .form-groub .btn:hover {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

.header .navbar {
  background-image: url("../img/nav-header.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 235px;
  padding-top: 0 !important;
  padding-bottom: 50px !important;
  padding-inline: 100px;
  z-index: 1503;
}

.header .navbar .navbar-brand {
  width: 100px;
  padding-bottom: 0;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-collapse .navbar-nav {
  padding-left: 40px;
  margin-right: auto;
}

.header .navbar .navbar-collapse .navbar-nav .nav-item {
  font-size: 16pt;
}

.header .navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
  color: #f7e2e2;
}

.header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-toggle::after {
  border: none;
  content: url("../icons/Icon ionic-ios-arrow-down.svg");
}

.header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.header .navbar .navbar-collapse .navbar-nav .dropdown {
  position: relative;
}

.header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
  position: absolute;
  right: -114px;
  min-width: 12rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  font-size: 16pt;
  color: #343434;
}

.header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-item {
  text-align: center;
  font-size: 16pt;
  padding-block: 15px;
}

.header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-item:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0995ff), to(#0066af));
  background-image: linear-gradient(#0995ff, #0066af);
  color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.header .navbar .navbar-collapse .navbar-nav .dropdown .ar {
  position: relative;
  margin-bottom: 30px;
}

.header .navbar .navbar-collapse .navbar-nav .dropdown .ar::after {
  position: absolute;
  top: 78px;
  left: 22px;
  content: "";
  background-color: #f7e2e2;
  width: 80%;
  height: 1px;
}

.header .navbar .navbar-collapse .navbar-nav .nav-item + .nav-item {
  margin-right: 100px;
}

.header #slider {
  position: relative;
  margin-top: -240px;
  height: 1000px;
}

.header #slider .carousel-inner {
  height: 100%;
}

.header #slider .carousel-inner .carousel-item {
  height: 100%;
  position: relative;
}

.header #slider .carousel-inner .carousel-item img {
  width: 100%;
}

.header #slider .carousel-inner .carousel-item .carousel-caption {
  padding-top: 0;
  margin-bottom: 420px;
  padding-inline: 180px;
}

.header #slider .carousel-inner .carousel-item .carousel-caption .title {
  color: #343434;
  font-weight: bold;
  font-size: 24pt;
  margin-bottom: 30px;
}

.header #slider .carousel-inner .carousel-item .carousel-caption .text {
  color: #343434;
  font-size: 18pt;
  padding-inline: 40px;
}

.header #slider .button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header #slider .button .btn {
  position: absolute;
  bottom: 300px;
  margin-bottom: 0;
}

.header #slider .carousel-control-prev, .header #slider .carousel-control-next {
  top: 435px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #c51c22;
}

.header #slider .carousel-control-prev span, .header #slider .carousel-control-next span {
  width: 20px;
  height: 20px;
}

.header #slider .carousel-control-next {
  margin-left: 120px;
}

.header #slider .carousel-control-prev {
  margin-right: 120px;
}

.header #slider .carousel-indicators {
  margin-bottom: 100px;
  right: 50px;
  bottom: 100px;
}

.header #slider .carousel-indicators button {
  background-color: #fff5f5;
  height: 5px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.header #slider .carousel-indicators .custom-indi {
  width: 45px;
}

.features {
  background-color: #fff5f5;
  position: relative;
  top: -65px;
  width: 1000px;
  margin: 0 auto 100px;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
}

.features .feature img {
  width: 60px;
}

.features .feature .text {
  color: #343434;
  font-size: 16pt;
}

.about-us {
  padding: 0 100px 100px;
}

.about-us .text {
  color: #343434;
  font-size: 18pt;
  padding-inline: 145px;
  text-align: center;
}

.services {
  padding: 100px 50px;
  background-color: #fff5f5;
}

.services .title {
  margin-bottom: 0;
}

.services .title::after {
  top: 48px;
  margin-right: -30px;
  width: 60px;
}

.services .services {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[3];
      grid-template: auto/repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .services .service {
  background-color: #ffffff;
  border: 1px solid #f7e2e2;
  padding: 50px 25px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.services .services .service .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  margin-bottom: 20px;
}

.services .services .service .sub {
  text-align: center;
  color: #0066af;
  font-weight: bold;
  margin-bottom: 20px;
}

.services .services .service .text {
  text-align: center;
  color: #343434;
  font-size: 14pt;
  padding-inline: 0;
}

.services .services .service:hover {
  background-color: #c51c22;
}

.services .services .service:hover .one img {
  content: url("../icons/with hover/company.svg");
}

.services .services .service:hover .two img {
  content: url("../icons/with hover/Feasibility study.svg");
}

.services .services .service:hover .three img {
  content: url("../icons/with hover/Trademarks.svg");
}

.services .services .service:hover .four img {
  content: url("../icons/with hover/accounting.svg");
}

.services .services .service:hover .five img {
  content: url("../icons/with hover/tax system.svg");
}

.services .services .service:hover .six img {
  content: url("../icons/with hover/taxes services.svg");
}

.services .services .service:hover .seven img {
  content: url("../icons/with hover/Accounting Consulting.svg");
}

.services .services .service:hover .one img {
  content: url("../icons/with hover/company.svg");
}

.services .services .service:hover .sub {
  color: #ffffff;
}

.services .services .service:hover .text {
  color: #ffffff;
}

.services .services .custom-service {
  -ms-grid-column: 2;
  grid-column: 2;
}

.why-choose-us {
  background-image: url("../img/why us.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why-choose-us .title {
  margin-bottom: 70px;
}

.why-choose-us .text {
  color: #343434;
  text-align: center;
  font-size: 16pt;
}

.why-choose-us .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0995ff), to(#0066af));
  background-image: linear-gradient(#0995ff, #0066af);
  margin-top: 30px;
  margin-bottom: 0;
}

.why-choose-us .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.why-choose-us .btn:hover {
  color: #ffffff;
}

.our-clients {
  padding: 100px 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-clients .title::after {
  margin-right: -33px;
  width: 60px;
}

.our-clients .owl-stage-outer {
  height: 245px !important;
}

.our-clients .owl-carousel {
  position: relative !important;
}

.our-clients .owl-item .name {
  font-size: 12pt;
  font-weight: bold;
}

.our-clients .owl-nav {
  position: absolute;
  bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.our-clients .owl-nav [class*=owl-] {
  background-color: initial !important;
  color: initial !important;
}

.our-clients .owl-nav .owl-prev {
  margin-right: -50px !important;
  height: 50px;
}

.our-clients .owl-nav .owl-prev span {
  content: url("../icons/Group 41010.svg");
}

.our-clients .owl-nav .owl-next {
  margin-left: -50px !important;
  height: 50px;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.our-clients .owl-nav .owl-next span {
  content: url("../icons/Group 41010.svg");
  transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
}

.our-clients .owl-dot {
  display: none !important;
}

.footer {
  padding: 80px 0 30px;
  background-color: #0066af;
  position: relative;
}

.footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/footer-overlay.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-size: cover;
}

.footer .col-md-4 {
  z-index: 1;
}

.footer .logo {
  width: 130px;
  margin-bottom: 20px;
}

.footer .logo img {
  width: 100%;
}

.footer .text {
  font-size: 14pt;
  color: #ffffff;
}

.footer .title {
  color: #ffffff;
  font-size: 18pt;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 30px;
}

.footer .items {
  margin-top: 60px;
}

.footer .items .item {
  font-size: 15pt;
}

.footer .items .item .link {
  color: #ffffff;
}

.footer .items .item:hover {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

.footer .items .item + .item {
  margin-top: 30px;
}

.footer .custom-items .item .contact {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14pt;
}

.footer .custom-items .item .contact img {
  margin-left: 5px;
}

.footer .custom-items .item .contact .num-2 {
  margin-right: 32px;
}

.footer .custom-items .item .form-groub {
  margin-bottom: 50px;
}

.footer .custom-items .item .form-groub .form-control {
  padding: 12px 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.footer .custom-items .item .form-groub .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer .custom-items .item .form-groub .form-control::-webkit-input-placeholder {
  color: #ccc;
}

.footer .custom-items .item .form-groub .form-control:-ms-input-placeholder {
  color: #ccc;
}

.footer .custom-items .item .form-groub .form-control::-ms-input-placeholder {
  color: #ccc;
}

.footer .custom-items .item .form-groub .form-control::placeholder {
  color: #ccc;
}

.footer .custom-items .item .form-groub .form-control + .form-control {
  margin-top: 15px;
}

.footer .custom-items .item .form-groub .btn {
  margin-top: 20px;
  width: 160px;
  padding: 8px 16px;
  margin-bottom: 0;
  font-size: 14pt;
}

.footer .custom-items .item .map .location {
  color: #ffffff;
  font-size: 16pt;
  margin-bottom: 20px;
}

.footer .custom-items .item .map .location img {
  margin-left: 5px;
}

.footer .custom-items .item .map .location .address {
  margin-right: 35px;
  margin-top: 5px;
}

.footer .custom-items .item .map iframe {
  width: 100%;
  height: 200px;
}

.footer .puplish {
  color: #ffffff;
  font-size: 14pt;
  text-align: center;
  margin-bottom: 0;
  margin-top: 60px;
}

@media (max-width: 1399.98px) {
  .header #slider .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 400px;
  }
  .features {
    top: -130px;
  }
  .our-clients .owl-stage-outer {
    height: 225px !important;
  }
}

@media (min-width: 1280px) and (max-width: 1281px) {
  .header #slider {
    height: 920px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption {
    padding-inline: 140px;
    margin-bottom: 350px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .btn {
    margin-bottom: 230px;
  }
}

@media (max-width: 1199.98px) {
  .header .navbar .navbar-collapse .navbar-nav .nav-item + .nav-item {
    margin-right: 75px;
    margin-left: 0;
  }
  .header #slider {
    height: 860px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption {
    padding-inline: 100px;
    margin-bottom: 300px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .text {
    padding-inline: 12px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .btn {
    margin-bottom: 210px;
  }
  .header #slider .button .btn {
    bottom: 245px;
  }
  .header #slider .carousel-control-prev, .header #slider .carousel-control-next {
    top: 360px;
  }
  .about-us .text {
    padding-inline: 90px;
  }
}

@media (min-width: 1199px) and (max-width: 1200px) {
  .our-clients .owl-item {
    margin-left: 98px !important;
  }
  .our-clients .owl-item .item {
    width: 175px;
  }
}

@media (min-width: 1024px) and (max-width: 1025px) {
  .header .navbar .navbar-collapse .navbar-nav {
    padding-left: 0;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item + .nav-item {
    margin-right: 50px !important;
  }
  .header #slider {
    margin-top: -180px;
    height: 810px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .btn {
    margin-bottom: 240px;
    margin-top: 0;
  }
  .header #slider .carousel-indicators {
    right: 65px;
    bottom: 115px;
  }
  .header #slider .carousel-control-prev, .header #slider .carousel-control-next {
    top: 315px;
  }
  .features {
    width: 800px;
    top: -190px;
  }
  .why-choose-us {
    padding-inline: 290px;
  }
  .our-clients .owl-nav .owl-next {
    margin-left: -17px !important;
  }
  .our-clients .owl-nav .owl-prev {
    margin-right: -22px !important;
  }
  .our-clients .owl-item {
    margin-left: 98px !important;
  }
  .our-clients .owl-item .item {
    width: 175px;
  }
}

@media (max-width: 991.98px) {
  .header .navbar {
    height: 150px;
  }
  .header .navbar .navbar-collapse .navbar-nav {
    padding-block: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #0066af;
    color: #ffffff;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0995ff), to(#0066af));
    background-image: linear-gradient(#0995ff, #0066af);
    width: 80%;
    text-align: right;
    padding-right: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item + .nav-item {
    margin-right: 0;
    margin-top: 45px;
  }
  .header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    right: initial;
  }
  .header .navbar .navbar-brand {
    margin-top: 12px;
    width: 90px;
  }
  .header .navbar .navbar-toggler {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0009), to(#c51c22));
    background-image: linear-gradient(#ff0009, #c51c22);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header .navbar .navbar-toggler span {
    color: #ffffff;
  }
  .header #slider {
    height: 750px;
    margin-top: -150px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption {
    padding-inline: 60px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .btn {
    width: 300px;
    margin-top: 0;
  }
  .header #slider .carousel-control-prev, .header #slider .carousel-control-next {
    top: 300px;
  }
  .features {
    width: 800px;
    top: -150px;
  }
  .about-us {
    padding-inline: 0;
  }
  .services {
    padding-inline: 25px;
  }
  .our-clients .owl-stage-outer {
    height: 435px !important;
  }
  .our-clients .owl-stage-outer .owl-item .name {
    font-size: 17pt;
  }
  .our-clients .owl-stage-outer .owl-item .item {
    width: 100%;
  }
  .our-clients .owl-nav {
    bottom: 235px;
  }
  .footer .custom-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .custom-items .item .contact {
    margin-right: 25px;
  }
}

@media (min-width: 912px) and (max-width: 913px) {
  .header #slider {
    height: 700px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .title {
    margin-bottom: 15px;
    font-size: 20pt;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .text {
    font-size: 16pt;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .btn {
    margin-top: 25px;
  }
  .header #slider .carousel-control-prev, .header #slider .carousel-control-next {
    top: 250px;
  }
}

@media (min-width: 820px) and (max-width: 821px) {
  .header #slider {
    height: 630px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 230px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .title {
    margin-bottom: 15px;
    font-size: 20pt;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .text {
    font-size: 14pt;
  }
  .header #slider .button .btn {
    bottom: 205px !important;
    width: 300px;
  }
  .header #slider .carousel-control-prev, .header #slider .carousel-control-next {
    top: 250px;
  }
  .header #slider .carousel-indicators {
    right: 10px;
    bottom: 80px;
  }
  .features {
    width: 730px;
    top: -136px;
    padding-block: 10px;
  }
  .services {
    padding-inline: 15px;
  }
  .services .services .service {
    padding: 25px;
  }
  .services .services .service .sub {
    font-size: 18pt;
  }
  .services .services .service .image img {
    width: 100px;
  }
  .why-choose-us {
    padding-inline: 170px;
  }
}

@media (max-width: 768px) {
  .header #slider {
    margin-top: -100px;
    height: 600px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 250px;
    padding-inline: 10px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .title {
    font-size: 20pt;
    margin-bottom: 15px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .text {
    font-size: 16pt;
  }
  .header #slider .button .btn {
    bottom: 210px;
    width: 250px;
    font-size: 15pt;
  }
  .header #slider .carousel-indicators {
    right: 0;
    bottom: 70px;
  }
  .header #slider .carousel-control-prev {
    margin-right: 60px;
    top: 200px;
  }
  .header #slider .carousel-control-next {
    margin-left: 60px;
    top: 200px;
  }
  .our-clients .owl-nav .owl-prev {
    margin-right: -18px !important;
  }
  .our-clients .owl-nav .owl-next {
    margin-left: -18px !important;
  }
  .features {
    width: 650px;
  }
  .about-us .text {
    padding-inline: 60px;
  }
  .services {
    padding-inline: 10px;
  }
  .services .services {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template: auto/repeat(2, 1fr);
  }
  .services .services .image img {
    width: 100px;
  }
  .services .services .service {
    padding-block: 25px;
  }
  .services .services .service .sub {
    font-size: 16pt;
  }
  .services .services .service .text {
    font-size: 12pt;
  }
  .why-choose-us {
    padding-inline: 150px;
  }
  .our-clients #slider-clients .clients {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .our-clients .owl-nav {
    bottom: 280px;
  }
  .our-clients .owl-nav .owl-prev {
    margin-right: -50px !important;
  }
  .our-clients .owl-nav .owl-next {
    margin-left: -50px !important;
  }
  .footer .container {
    max-width: 700px;
  }
  .footer .logo {
    width: 160px;
    margin-bottom: 15px;
  }
  .footer .logo .text {
    font-size: 15pt;
  }
  .footer .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 80px;
  }
  .footer .items .item {
    font-weight: bold;
  }
  .footer .items .item + .item {
    margin-top: 0;
    margin-right: 20px;
  }
  .footer .custom-items .item .contact {
    margin-right: 0;
  }
  .footer .title {
    margin-bottom: 20px;
  }
  .footer .custom-col {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (max-width: 575.98px) {
  .header #slider {
    margin-top: -50px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 340px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .btn {
    margin-top: 0px;
    margin-bottom: 270px;
    width: 220px;
    font-size: 15pt;
  }
  .header #slider .carousel-control-prev, .header #slider .carousel-control-next {
    top: 150px;
  }
  .header #slider .carousel-indicators {
    bottom: 180px;
  }
  .header #slider .button .btn {
    bottom: 322px;
  }
  .features {
    padding-block: 5px;
    width: 450px;
    margin-bottom: 0;
    top: -260px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .features .feature img {
    width: 50px;
  }
  .features .feature .text {
    font-size: 12pt;
  }
  .about-us .text {
    padding-inline: 50px;
  }
  .services .services {
    gap: 20px 0;
  }
  .services .services .service {
    grid-column: none;
  }
  .why-choose-us {
    padding-inline: 100px;
  }
  .our-clients .owl-stage-outer {
    height: 625px !important;
  }
  .our-clients .owl-nav {
    bottom: 335px;
  }
  .our-clients .owl-nav .owl-prev {
    margin-right: 0 !important;
  }
  .our-clients .owl-nav .owl-next {
    margin-left: 0 !important;
  }
  .footer .container {
    max-width: 530px;
  }
  .footer .logo {
    width: 125px;
  }
}

@media (min-width: 540px) and (max-width: 541px) {
  .header #slider {
    height: 578px;
  }
  .about-us .text {
    padding-inline: 25px;
    font-size: 14pt;
  }
  .our-clients #slider-clients .clients {
    width: 91%;
  }
}

@media (min-width: 412px) and (max-width: 415px) {
  .header .navbar {
    padding-inline: 10px;
  }
  .header #slider {
    height: 500px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 315px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .title {
    font-size: 15pt;
    margin-bottom: 10px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .text {
    font-size: 12px;
  }
  .header #slider .button .btn {
    width: 170px;
    font-size: 12pt;
    bottom: 310px;
    padding: 6px 5px;
  }
  .header #slider .carousel-control-next, .header #slider .carousel-control-prev {
    top: 77px;
  }
  .header #slider .carousel-control-prev {
    right: -23px;
  }
  .header #slider .carousel-control-next {
    left: -23px;
  }
  .features {
    padding: 5px;
    width: 350px;
  }
  .features .feature img {
    width: 40px;
  }
  .features .feature .text {
    font-size: 10pt;
  }
  .about-us .title {
    margin-bottom: 45px;
  }
  .about-us .text {
    padding-inline: 30px;
    font-size: 15pt;
  }
  .services .services {
    gap: 20px 0;
  }
  .services .services .service {
    grid-column: none;
  }
  .why-choose-us {
    padding-inline: 70px;
  }
  .our-clients .owl-nav {
    bottom: 410px;
  }
  .our-clients .owl-nav .owl-prev {
    margin-right: -10px !important;
  }
  .our-clients .owl-nav .owl-next {
    margin-left: -10px !important;
  }
  .footer .container {
    max-width: 380px;
  }
}

@media (min-width: 360px) and (max-width: 394px) {
  .header .navbar {
    padding-inline: 10px;
  }
  .header #slider {
    height: 488px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 310px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .title {
    font-size: 14pt;
    margin-bottom: 5px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .text {
    -webkit-line-clamp: 2;
    font-size: 10pt;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .btn {
    width: 130px;
    font-size: 10pt;
  }
  .header #slider .button .btn {
    width: 170px;
    font-size: 10pt;
    bottom: 310px;
    padding: 6px 5px;
  }
  .header #slider .carousel-control-prev, .header #slider .carousel-control-next {
    top: 83px;
  }
  .header #slider .carousel-control-prev {
    margin-right: 22px;
  }
  .header #slider .carousel-control-next {
    margin-left: 22px;
  }
  .about-us {
    margin-top: -80px;
  }
  .about-us .text {
    padding-inline: 40px;
    font-size: 15pt;
  }
  .features {
    width: 350px;
    padding-inline: 5px;
  }
  .features .feature img {
    width: 40px;
  }
  .features .feature .text {
    font-size: 9pt;
  }
  .services .services {
    gap: 20px 0;
  }
  .services .services .service {
    grid-column: none;
  }
  .why-choose-us {
    padding-inline: 60px;
  }
  .why-choose-us .title {
    font-size: 20pt;
  }
  .why-choose-us .btn {
    width: 300px;
  }
  .our-clients .owl-nav {
    bottom: 430px;
  }
}

@media (min-width: 280px) and (max-width: 358px) {
  .header .navbar {
    padding-inline: 0;
  }
  .header #slider {
    height: 455px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 310px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .title {
    font-size: 12pt;
    margin-bottom: 5px;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .text {
    -webkit-line-clamp: 2;
    font-size: 8pt;
  }
  .header #slider .carousel-inner .carousel-item .carousel-caption .btn {
    width: 130px;
    font-size: 10pt;
  }
  .header #slider .button .btn {
    width: 150px;
    font-size: 10pt;
    bottom: 310px;
    padding: 6px 5px;
  }
  .header #slider .carousel-control-prev, .header #slider .carousel-control-next {
    top: 55px;
    width: 30px;
    height: 30px;
  }
  .header #slider .carousel-control-prev span, .header #slider .carousel-control-next span {
    width: 15px;
    height: 15px;
  }
  .header #slider .carousel-control-prev {
    margin-right: 20px;
  }
  .header #slider .carousel-control-next {
    margin-left: 20px;
  }
  .about-us {
    margin-top: -80px;
  }
  .about-us .text {
    padding-inline: 10px;
    font-size: 15pt;
  }
  .features {
    width: 270px;
    padding-inline: 5px;
  }
  .features .feature img {
    width: 40px;
  }
  .features .feature .text {
    font-size: 9pt;
  }
  .services {
    padding-inline: 5px;
  }
  .services .services {
    gap: 20px 0;
  }
  .services .services .service {
    grid-column: none;
  }
  .why-choose-us {
    padding-inline: 30px;
  }
  .why-choose-us .title {
    font-size: 18pt;
  }
  .why-choose-us .btn {
    width: 200px;
  }
  .our-clients .owl-nav {
    bottom: 475px;
  }
}

html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav {
  padding-left: 0;
  padding-right: 40px;
  margin-right: 0;
  margin-left: auto;
}

html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav .dropdown-toggle::after {
  margin-left: 0.255em;
  margin-right: 0;
}

html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
  right: initial;
  left: -114px;
}

html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav .dropdown .ar::after {
  left: initial;
  right: 22px;
}

html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav .nav-item + .nav-item {
  margin-right: 0;
  margin-left: 100px;
}

html[dir="ltr"] .about-us .title::after {
  left: 50%;
  right: initial;
  margin-left: -40px;
  margin-right: 0;
}

html[dir="ltr"] .services .title::after {
  left: 50%;
  right: initial;
  margin-left: -40px;
  margin-right: 0;
}

html[dir="ltr"] .services .services {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[3];
      grid-template: auto/repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html[dir="ltr"] .services .services .service {
  background-color: #ffffff;
  border: 1px solid #f7e2e2;
  padding: 50px 25px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

html[dir="ltr"] .services .services .service .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  margin-bottom: 20px;
}

html[dir="ltr"] .services .services .service .sub {
  text-align: center;
  color: #0066af;
  font-weight: bold;
  margin-bottom: 20px;
}

html[dir="ltr"] .services .services .service .text {
  text-align: center;
  color: #343434;
  font-size: 14pt;
  padding-inline: 0;
}

html[dir="ltr"] .services .services .service:hover {
  background-color: #c51c22;
}

html[dir="ltr"] .services .services .service:hover .one img {
  content: url("../icons/with hover/company.svg");
}

html[dir="ltr"] .services .services .service:hover .two img {
  content: url("../icons/with hover/Feasibility study.svg");
}

html[dir="ltr"] .services .services .service:hover .three img {
  content: url("../icons/with hover/Trademarks.svg");
}

html[dir="ltr"] .services .services .service:hover .four img {
  content: url("../icons/with hover/accounting.svg");
}

html[dir="ltr"] .services .services .service:hover .five img {
  content: url("../icons/with hover/tax system.svg");
}

html[dir="ltr"] .services .services .service:hover .six img {
  content: url("../icons/with hover/taxes services.svg");
}

html[dir="ltr"] .services .services .service:hover .seven img {
  content: url("../icons/with hover/Accounting Consulting.svg");
}

html[dir="ltr"] .services .services .service:hover .one img {
  content: url("../icons/with hover/company.svg");
}

html[dir="ltr"] .services .services .service:hover .sub {
  color: #ffffff;
}

html[dir="ltr"] .services .services .service:hover .text {
  color: #ffffff;
}

html[dir="ltr"] .services .services .custom-service {
  -ms-grid-column: 2;
  grid-column: 2;
}

html[dir="ltr"] .why-choose-us .title::after {
  left: 50%;
  right: initial;
  margin-left: -40px;
  margin-right: 0;
}

html[dir="ltr"] .our-clients .title::after {
  left: 50%;
  right: initial;
  margin-left: -33px;
  margin-right: 0;
}

html[dir="ltr"] .footer .custom-items .item .contact img {
  margin-left: 0;
  margin-right: 5px;
}

html[dir="ltr"] .footer .custom-items .item .contact .num-2 {
  margin-right: 0;
  margin-left: 32px;
}

html[dir="ltr"] .footer .custom-items .item .map .location img {
  margin-left: 0;
  margin-right: 5px;
}

html[dir="ltr"] .footer .custom-items .item .map .location .address {
  margin-right: 0;
  margin-left: 35px;
}

@media (max-width: 1199.98px) {
  html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav .nav-item + .nav-item {
    margin-left: 75px !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 1024px) and (max-width: 1025px) {
  html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav {
    padding-right: 0;
    padding-left: 0;
  }
  html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav .nav-item + .nav-item {
    margin-right: 0 !important;
    margin-left: 50px !important;
  }
  html[dir="ltr"] .our-clients .owl-nav .owl-next {
    margin-left: -17px !important;
  }
  html[dir="ltr"] .our-clients .owl-nav .owl-prev {
    margin-right: -22px !important;
  }
}

@media (max-width: 991.98px) {
  html[dir="ltr"] .header .navbar .navbar-brand {
    margin-top: 0;
  }
  html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav {
    padding-left: 0;
    padding-right: 0;
  }
  html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav .nav-item {
    text-align: left;
    padding-right: 0;
    padding-left: 15px;
  }
  html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav .nav-item + .nav-item {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    right: initial;
    left: initial;
  }
  html[dir="ltr"] .footer .custom-items .item .contact {
    margin-right: 0;
    margin-left: 25px;
  }
}

@media (max-width: 768px) {
  html[dir="ltr"] .services .services {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template: auto/repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  html[dir="ltr"] .footer .items .item + .item {
    margin-right: 0;
    margin-left: 20px;
  }
  html[dir="ltr"] .footer .custom-items .item .contact {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575.98px) {
  html[dir="ltr"] .services .services {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template: auto/repeat(2, 1fr);
  }
}

@media (min-width: 280px) and (max-width: 576px) {
  html[dir="ltr"] .services .services {
    gap: 20px 0;
  }
  html[dir="ltr"] .services .services .service {
    grid-column: none;
  }
}
/*# sourceMappingURL=style.css.map */